/* General Styles */
.imageWrapper {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 30;
  overflow: hidden;
}

.isVisible {
  animation: imgAnimate 1s ease forwards;
}

@keyframes imgAnimate {
  from {
    transform: scale(3);
  }
  to {
    transform: scale(0.5) translateY(-100rem);
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: 0;
    border-radius: 25px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Quote styling */
.quoteWrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.quoteText {
  font-weight: bold;
  color: white;
  position: relative;
  padding: 1rem 2rem !important;
  border-radius: 10px;
  line-height: 1.5;
  font-size: 1.8rem; /* Default font size */
}

.quoteText::before,
.quoteText::after {
  content: "“";
  font-size: 10rem;
  color: #aaa;
  position: absolute;
}

.quoteText::before {
  top: -30%;
  left: -10%;
}

.quoteText::after {
  top: -30%;
  right: -10%;
  transform: scaleX(-1);
}

/* Card styling */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.card {
  position: relative;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.cardImage {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.cardContent {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  text-align: right;
  transition: font-size 0.3s ease;
  font-size: 1rem; /* Default font size */
}

.cardText {
  font-size: 1.2rem; /* Default font size */
}

.cardBullets {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  list-style-type: none;
  font-size: 1.5rem;
  display: none; /* Hide bullet points by default */
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .quoteText {
    font-size: 1.4rem; /* Adjust font size for medium screens */
  }

  .quoteText::before,
  .quoteText::after {
    font-size: 10rem; /* Adjust size of quotes */
  }

  .cardContent {
    font-size: 0.9rem; /* Adjust font size for card content */
  }

  .cardText {
    font-size: 1rem; /* Adjust font size for card text */
  }

  .cardBullets {
    font-size: 1.2rem; /* Adjust font size for bullet points */
  }
}

@media (max-width: 768px) {
  .quoteText {
    font-size: 1.4rem; /* Adjust font size for small screens */
  }

  .quoteText::before,
  .quoteText::after {
    font-size: 6rem; /* Adjust size of quotes */
  }

  .cardContent {
    font-size: 0.8rem; /* Adjust font size for card content */
  }

  .cardText {
    font-size: 0.9rem; /* Adjust font size for card text */
  }

  .cardBullets {
    font-size: 1rem; /* Adjust font size for bullet points */
  }
}

@media (max-width: 480px) {
  .quoteText {
    font-size: 1.2rem; /* Adjust font size for extra small screens */
  }

  .quoteText::before,
  .quoteText::after {
    font-size: 5rem; /* Adjust size of quotes */
  }

  .cardContent {
    font-size: 0.7rem; /* Adjust font size for card content */
  }

  .cardText {
    font-size: 0.8rem; /* Adjust font size for card text */
  }

  .cardBullets {
    font-size: 0.8rem; /* Adjust font size for bullet points */
  }
}
