.services {
  margin-top: 20px;
  background-image: url("/PkgBackImg.jpg");
  background-size: cover; /* Ensures the background image covers the area */
  background-position: center; /* Centers the background image */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  box-sizing: border-box;
}

.cardGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topCards,
.bottomCards {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.topCards {
  margin-bottom: 30px; /* Space between top cards and image */
}

.bottomCards {
  margin-top: 30px; /* Space between bottom cards and image */
}

.centerImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -20px 0; /* Space around the image */
}

.centerImage {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 900px) {
  .topCards,
  .bottomCards {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .topCards,
  .bottomCards {
    flex-direction: column;
    align-items: center;
  }
}

.card {
  border: "1px solid #ffffff80";
  
  
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  border-radius: 24px !important; /* Medium rounded corners */
  overflow: hidden; /* Ensure no overflow from border radius */
  position: relative; /* For positioning the glow effect */
  /* background: rgba(
    0,
    0,
    0,
    0.85
    ); /* Darker background with slightly reduced opacity */
    /* color: #fff; Default text color for readability on dark background */
    /* box-shadow: 0px 8px 20px rgba(13, 143, 224, 0.6); Sky-blue glow shadow */
    
    margin: 0 3rem;
    max-width: 350px;
    width: "100%";
  /* opacity: 90%; */
}

.icon {
  width: 10px; /* Adjust size as needed */
  height: auto;
}

.cardContent {
  padding: 10px; /* Increase padding for content */
  margin: 18px 0px;
}

.iconWrapper {
  font-size: 3rem;
}
