.container {
  padding-left: 30px;
  padding-right: 30px;
}

.grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  transition: transform 0.3s ease, opacity 0.3s ease;

  transform: translateY(20px);
}

.card.visible {
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.icon {
  width: 80px; /* Adjust as needed */
  height: 80px; /* Adjust as needed */
  background-color: #80aece; /* Darker background color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.icon {
  width: 70px; /* Adjust size as needed */
  height: auto;
  padding: 12px;
}
