/* components/VantaWrapper.module.css */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%; /* Ensure it takes full available height */
}

.content {
  position: relative; /* Place content above the background */
  z-index: 1; /* Ensure content is above the VANTA effect */
}
