/* Sidebar Drawer */
.sidebar {
    width: 240px;
    background-color: #1E1E2F;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 20px 0;
}

.sidebarLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 80px;
    height: auto;
}

.sidebarList {
    flex-grow: 1;
}

.listItem {
    padding: 15px 20px;
    font-size: 2.5rem !important;
    color: #ffffff;
    transition: background-color 0.3s ease;
}

.listItem:hover {
    background-color: #2E2E3D;
    cursor: pointer;
}

.listItemIcon {
    color: #ffffff;
    font-size: 2.5rem !important;
}

.logoutButton {
    font-size: 1.5rem !important;
    padding: 15px 20px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 auto;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.logoutButton:hover {
    background-color: #2E2E3D;
}
