/* src/components/Footer/Footer.module.css */
.footer {
  padding: 70px 0;
  margin-top: 30px;
  border-top: 2px solid white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.footerCol {
  flex: 1;
  min-width: 220px;
}

.heading {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  width: 50px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.link {
  font-size: 16px;
  color: #bbbbbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffffff;
  padding-left: 8px;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialIcon {
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  transition: all 0.5s ease;
}
