.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2.4rem 0;
  border-top: 1px solid var(--color-accent);
}

.row {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  align-items: flex-start;
  /* No change here for desktop */
}

.footerCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 220px;
}

.heading {
  font-size: 3rem !important; /* Keeping original desktop size */
  color: var(--color-text);
  text-transform: capitalize;
  margin-bottom: 2.5rem !important;
  font-weight: 500;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: var(--color-accent);
  height: 2px;
  width: 50px;
}

.list {
  list-style: none;
  padding: 0;
}

.list li {
  margin-bottom: 10px;
}

.link {
  font-size: 1.5rem !important; /* Keeping original desktop size */
  color: var(--color-text2) !important;
  text-decoration: none;
  transition: color 0.15s ease;
}

.disabled {
  font-size: 1.5rem;
  color: var(--color-text2) !important;
  text-decoration: none;
  transition: color 0.15s ease;
}

.link:hover {
  color: var(--color-accent) !important;
}

.socialLinks {
  display: flex;
  gap: 12px;
}

.socialIcon {
  font-size: 10rem !important; /* Keeping original desktop size */
  height: 24px;
  width: 30px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.footerCol .socialIcon {
  transform: scale(3); /* Keeping original desktop size */
}

/* Media query for screens below 786px */
@media (max-width: 768px) {
  .row {
    flex-direction: column; /* Stack sections vertically */
    gap: 20px; /* Adjust gap between sections */
  }

  .footerCol {
    margin-bottom: 1.5rem; /* Add spacing between columns */
  }

  .heading {
    font-size: 2rem !important; /* Smaller heading size for mobile */
  }

  .link, .disabled {
    font-size: 1.2rem !important; /* Smaller link size for mobile */
  }

  .socialIcon {
    font-size: 6rem !important; /* Smaller icon size for mobile */
    height: 18px;
    width: 20px;
  }

  .footerCol .socialIcon {
    transform: scale(2); /* Further reduce scale for smaller screens */
  }
}
