/* styles/Heading.module.css */
.headingContainer {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px 0;
  align-items: "center";
}

.heading {
  font-size: 60px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  position: relative;
  z-index: 1;
  display: flex;
  justify-items: center;
  justify-content: center;
  padding: 12px 0px;
}

.lineAbove {
  position: absolute;
  left: -70%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to right,
    #cfcfcf,
    #00607a
  ); /* Dead color to specified color */
  top: 0; /* Adjust this based on your design */
}

.lineBelow {
  position: absolute;
  right: -70%;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    to left,
    #cfcfcf,
    #00607a
  ); /* Specified color to dead color */
  bottom: 1; /* Adjust this based on your design */
}
