.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.heading {
  font-size: 6rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

.stats {
  width: 100%;
  padding: 0rem;
  margin: 0rem 0 24rem;
}

/* Common card styling */
.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  overflow: hidden; /* Ensure no overflow from border radius */
  position: relative; /* For positioning the glow effect */
  backdrop-filter: blur(20px);
  margin: auto;
  max-width: 400px;
  opacity: 90%;
}

/* Light mode adjustments */
.light-mode .card {
  /* background: rgba(255, 255, 255, 0.85); */
}

/* Dark mode adjustments */
.dark-mode .card {
  /* background: rgba(
    0,
    0,
    0,
    0.85
  ); Darker background with slightly reduced opacity */
  /* color: #fff;  */
  box-shadow: 
    /* Inside glow */ inset 0 0 15px rgba(0, 153, 255, 0.9),
    /* Outside glow */ 0 0 30px rgba(0, 153, 255, 1); /* Enhanced bluish glow effect */
  /* border: 4px solid rgba(0, 153, 255, 1); */
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  /* animation: fadeInUp 1s ease-out forwards;
  opacity: 0;  */
}

/* @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

/* Home.module.css */
.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px; /* Adjust margin as needed */
  max-width: 60px;
  max-height: 60px;
}

.icon {
  width: 70px; /* Adjust the width to your desired size */
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure it does not exceed container width */
  /* mix-blend-mode: difference; */
}

.header {
  /* Adjust font size for the header */
  margin: 7px 0px; /* Space between header and tagline */
  font-weight: normal;
}

.tagLine {
  /* Increase font size of the tagline */
  color: #6f6f6f; /* Light gray color for tagline to contrast with dark background */
  font-weight: lighter;
  margin: 7px 0px;
}

.iconWrapper {
  font-size: 3rem;
  margin: 7px 0px;
}

.services {
  padding: 20px 40px;
  margin-top: 35px;
}
