.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 150px);
  text-align: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.heading {
  font-size: 6rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
}

.stats {
  padding: 20px 40px;
  margin-top: 60px;
}

/* Common card styling */
.card {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text */
  border-radius: 12px; /* Medium rounded corners */
  overflow: hidden; /* Ensure no overflow from border radius */
  position: relative; /* For positioning the glow effect */
  background: rgba(
    0,
    0,
    0,
    0.85
  ); /* Darker background with slightly reduced opacity */
  color: #fff; /* Default text color for readability on dark background */
  box-shadow: 
    /* Inside glow */ inset 0 0 6px rgba(0, 153, 255, 0.8),
    /* Outside glow */ 0 0 12px rgba(0, 153, 255, 0.8); /* Slightly lighter bluish glow effect */
  border: 4px solid rgba(0, 153, 255, 0.8); /* Bluish border with adjusted opacity */
}

/* Light mode adjustments */
.light-mode .card {
  background: rgba(
    255,
    255,
    255,
    0.85
  ); /* Light background with slightly reduced opacity */
  color: #000; /* Default text color for readability on light background */
  box-shadow: 
    /* Inside glow */ inset 0 0 15px rgba(0, 153, 255, 0.5),
    /* Outside glow */ 0 0 20px rgba(0, 153, 255, 0.7); /* Slightly lighter bluish glow effect */
  border: 4px solid rgba(0, 153, 255, 0.7); /* Bluish border with adjusted opacity */
}

/* Dark mode adjustments */
.dark-mode .card {
  background: rgba(
    0,
    0,
    0,
    0.85
  ); /* Darker background with slightly reduced opacity */
  color: #fff; /* Text color for dark mode */
  box-shadow: 
    /* Inside glow */ inset 0 0 15px rgba(0, 153, 255, 0.9),
    /* Outside glow */ 0 0 30px rgba(0, 153, 255, 1); /* Enhanced bluish glow effect */
  border: 4px solid rgba(0, 153, 255, 1); /* Bluish border with full opacity */
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  padding: 16px; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensure padding is included in card height */
}

.icon {
  margin-bottom: 16px; /* Space between icon and title */
}

.header {
  font-weight: bold;
  /* Adjust font size for the header */
  margin-bottom: 8px; /* Space between header and tagline */
}

.tagLine {
  /* Increase font size of the tagline */
  color: #ddd; /* Light gray color for tagline to contrast with dark background */
}

/* Add styles for the icon wrapper */
.iconWrapper {
  font-size: 3rem; /* Adjust size as needed */
}

.services {
  padding: 20px 40px;
  margin-top: 35px;
}
