.logoContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
