.navbar {
  padding: 20px 40px; /* Initial padding */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Make the navbar sticky */
  top: 0;
  width: 100%;
  z-index: 999888 !important;
  box-sizing: border-box;
  background-color: var(--navbar-background);
  transition: padding 0.4s ease; /* Smooth padding transition */
}

.navbar.scrolled {
  padding: 0px 20px; /* Reduced padding when scrolled */
}

.navbar-left .MuiIconButton-root {
  font-size: 40px;
  background: none;
  box-shadow: none;
  color: white;
}

.navbar-left .MuiIconButton-root:hover {
  background: none;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(55, 55, 55, 0.9);
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(46, 46, 46, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  z-index: 1000;
  height: 100vh;
  width: 50%;
  overflow-y: auto;
}

.navbar-menu.open {
  transform: translateX(0);
}

.menuHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.closeButton {
  color: white;
}

.menuHeader .MuiIconButton-root {
  font-size: 60px;
}

.menuSeparator {
  border: 1px solid white;
  margin: -7px 0;
}

.menuContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: calc(100% - 60px);
  padding: 0 20px;
}

.navLinks {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navLinks li {
  margin: 0;
}

.navLinks a {
  font-size: 22px;
  font-weight: normal;
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.navLinks a:hover {
  color: #80aece;
  padding-left: 20px;
}

.navLinks a.active {
  font-weight: bold;
}

.themeSwitcherWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.userMenu .MuiMenuItem-root {
  font-size: 18px; /* Increased font size */
  padding: 10px 20px; /* Added padding */
}

.userMenu .MuiMenuItem-root a {
  text-decoration: none;
  color: inherit; /* Inherit color from parent */
}
