/* Container for text */
.textContainer {
  text-align: left;
}

/* Heading style */
.heading {
  font-weight: normal;
  margin-bottom: 1rem;
}

/* Text style */
.text {
  margin-bottom: 1.5rem;
}

/* Bullet points style */
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 20px 0;
  font-size: 1.5rem;
  color: rgb(92, 90, 90);
}

/* Button container */
.buttonContainer {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Image container */
.imageContainer {
  text-align: center;
}

/* Image styling with clip-path */
.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /* Apply clip-path to the right side of the image */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);

  object-fit: cover;
}
