/* Container for text */
.textContainer {
  /* text-align: left; */
  padding-left: 12%;
  padding-right: 4rem;
  flex-basis: 45%;
}

/* Heading style */
.heading {
  /* font-size: 2.5rem; */
  font-weight: normal;
  margin-bottom: 1rem;
}

/* Text style */
.text {
  /* font-size: 1.2rem; */
  margin-bottom: 1.5rem;
  max-width: 500px;
}

/* Bullet points style */
.bulletPoints {
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  list-style-type: disc;
}

/* Image container */
.imageContainer {
  text-align: center;
  position: relative;
}

/* Image styling with clip-path */
.image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 8% 100%); */

  object-fit: cover;
}

.buttonContainer {
  display: flex;

  align-items: center;
  gap: 15px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin: 20px 0px;
  font-size: 2rem;
  color: rgb(92, 90, 90);
}
